<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/login.css" rel="stylesheet">
<title>登录</title>
</head>

<body class="tbody">
	<div class="wrap">
		<div class="login-top">
		</div>
		<div class="login">
			<div class="logo">
				<img src="images/word.png" />
			</div>
			<div class="content">
				<div class="c-left">
					<div class="text-div">
						<label></label>
						<span class="textspan"><input type="text" class="texts" /></span>
					</div>
					<div class="text-div">
						<label></label>
						<span class="textspan"><input type="password" class="texts" /></span>
					</div>
				</div>
				<div class="c-right">
					<button class="login-button">
						登录
					</button>
					<a href="#">查看公示信息</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
